<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navLogo ml-5">
            <a href="/"><span>Voucher House</span></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHamburger"
            aria-controls="navbarHamburger" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarHamburger">
            <div class="navbar-nav text-center ">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/search">Search</a>               
                <a class="nav-item nav-link" href="/about">About</a>               
            </div>
        </div>
    </nav>
</header>