<%- include('./includes/head.ejs') %>
</head>

<!-- Align footer using flex -->
<body class="d-flex flex-column min-vh-100">

    <!-- Main navigation bar -->
    <%- include('./includes/navigation.ejs') %>
    

    <!-- ====== MAIN CONTENT ======  -->

    <main class="container flex-grow-1">
        <h1><%= pageTitle %></h1>
        <h3>Sorry but </h3>
        <div class="h-100 row align-items-center">
            <div class="col" style="background:red">
              TEXT
            </div>
          </div>
        
    </main>

<%- include('./includes/end.ejs') %>