<!-- ====== INCLUDE HEAD ====== -->
<%- include('./includes/head.ejs') %>
</head>

<!-- Align footer using flex -->
<body class="d-flex flex-column min-vh-100">

    <!-- ====== INCLUDE NAVIGATION BAR ====== -->
    <%- include('./includes/navigation.ejs') %>

    <!-- ====== MAIN CONTENT ======  -->
    <main class="container main__container flex-grow-1 mt-5 text-center">
        <h1 class="main__heading"><%= pageTitle %></h1>
        <p>
            This Application has the objective of using the Phorest REST API to build an interface to their platform.
        </p>
        <p>If you would like more information on this application please do not hesitate to contact me, by clicking the image link below</p>
        <a href="mailto:e.smyth75@gmail.com">
            <img class="img-thumbnail rounded" src="https://avatars.githubusercontent.com/u/59707387?v=4" alt="">
        </a>   
    </main>

<!-- ====== INCLUDE FOOTER ====== -->
<%- include('includes/end.ejs') %>