<%- include('./includes/head.ejs') %>
</head>

<!-- Align footer using flex -->
<body class="d-flex flex-column min-vh-100">

    <!-- Main navigation bar -->
    <%- include('./includes/navigation.ejs') %>
    
    <!-- ====== CTA ====== -->
    <div class="jumbotron bg-transparent hero__jumbotron">
        <div class="container text-center">
            <a href="/search" type="button" class="btn text-center">Get Started</a>
        </div>
    </div>


    <!-- ====== MAIN CONTENT ======  -->
    <main class="container main__container flex-grow-1 mt-5">
        <h1 class="main__heading"><%= pageTitle %></h1>
        <p>
            Welcome To Voucher Store!
        </p>
        <p>
            Here you are able to search for a clients, Select a client from your search results and create a voucher. 
            To do this follow these simple instructions:
            <ul>
                <li>Click Get Started above, or select Search from the menu bar.</li>
                <li>On the page that opens, enter either a phone number <strong><em>or</em></strong> an email address and click Search.</li>
                <li>Select a result from the results window.</li>
                <li>Enter an amount for the voucher and click Create.</li>
                <li>Your voucher has been created and recorded.</li>
            </ul>
        </p>
        </div>
        
    </main>

<%- include('./includes/end.ejs') %>