<%- include('./includes/head.ejs') %>
</head>

<!-- Align footer using flex -->
<body class="d-flex flex-column min-vh-100">

    <!-- Main navigation bar -->
    <%- include('./includes/navigation.ejs') %>
    

    <!-- ====== MAIN CONTENT ======  -->

    <main class="container flex-grow-1">
        <h1><%= pageTitle %></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa tenetur aliquid consequuntur ad magni exercitationem
            enim quos! Odit quaerat eaque amet voluptate soluta consectetur rerum iure, perspiciatis labore placeat molestias
            ducimus iste omnis quas, similique obcaecati sequi in voluptatum? Alias omnis laboriosam repudiandae rem illo
            tempora nostrum magni cumque error eum non sed reprehenderit mollitia, blanditiis recusandae perferendis animi
            expedita labore aperiam fugiat harum quia. Odio unde minima at, nemo itaque nihil in iste nobis iure, aliquid
            voluptatem provident suscipit quos inventore porro totam, ullam laudantium eveniet aut ratione autem ut possimus
            laborum impedit? Numquam sapiente rem quasi. Expedita, in debitis beatae nam amet et quo molestiae officiis vitae
            dolore porro excepturi cumque nulla! At voluptatem animi delectus facilis ab. Consequatur dolore expedita,
            laboriosam numquam pariatur sapiente? Necessitatibus tempora placeat perferendis culpa saepe maiores doloribus
            voluptas odit recusandae nihil repellat aliquid deleniti dicta officiis laudantium expedita voluptates libero
            mollitia ullam dolores aliquam, vitae ratione accusamus? Molestias impedit laudantium recusandae adipisci itaque
            modi ratione ad id, qui est accusamus numquam rem architecto voluptate ab odit fuga. Itaque, sunt voluptatibus non
            aspernatur at vel illum? Ea nulla at necessitatibus sint est error culpa, aliquam ipsa repellendus accusamus,
            quisquam alias saepe! Quo sunt provident, facilis ducimus tenetur quisquam sint sequi quaerat velit et omnis nam
            molestias cum, culpa reprehenderit? Minus ipsa delectus voluptates distinctio est, harum eius error ipsum ea nemo
            iste consequuntur natus obcaecati doloremque optio amet accusamus consectetur totam quos fugiat alias nihil tempora
            libero animi. Perspiciatis quibusdam quaerat inventore nisi corporis veritatis reprehenderit nemo? Omnis itaque
            repudiandae hic sapiente facilis nulla dolorum corporis temporibus necessitatibus deserunt! Ipsa vel officiis
            deserunt voluptas! Facilis libero praesentium dignissimos fuga nam aspernatur rem perspiciatis quis at officia eos,
            veniam, minima tenetur, illum aperiam reprehenderit excepturi ab. Aspernatur placeat consequuntur culpa omnis
            repellendus deleniti, dolore vel libero ab quidem labore enim sequi quis facilis pariatur quisquam, eos qui
            </p>
    </main>


<%- include('./includes/end.ejs') %>